.NavbarContainer {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.Categories {
  display: flex;
  gap: 3rem;
}

.Brand {
  display: flex;
  align-items: center;
}

.Logo {
  width: 32px;
}

.BrandTitle {
  font-family: "Audiowide", cursive;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 6px;
  margin-left: 2rem;
}
