.Counter {
  min-width: 250px;
}

.Controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

button {
  background-color: #28262c;
  color: white;
  border: none;
  cursor: pointer;
}

.IconCount {
  width: 30px;
  height: 30px;
  color: #cc54eb;
}

.CantCount {
  font-family: monospace;
  font-weight: 600;
  font-size: 18px;
  color: white;
  padding-top: 1rem;
}

.MainBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1112;
  height: 60px;
  width: 100%;
  color: #f0f0f0;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  border-color: #636363;
}
