.PageTitle {
  padding: 9rem 0 3rem 0;
  width: 80%;
  margin: auto;
  color: #f0f0f0;
}

.ListGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  width: 80%;
  margin: auto;
  animation: inicio 1.5s linear;
  animation-delay: 0s;
  animation-delay: 2s;
  color: #f0f0f0;
}

.NavbarContainer {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.Categories {
  display: flex;
  gap: 3rem;
}

.Brand {
  display: flex;
  align-items: center;
}

.Logo {
  width: 32px;
}

.BrandTitle {
  font-family: "Audiowide", cursive;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 6px;
  margin-left: 2rem;
}
